#errorCatcher Echo

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>$station.location</title>
    <link rel="stylesheet" type="text/css" href="./Bootstrap/css/bootstrap.min.css" />
  </head>
<body style="padding:10px">
<div>
<h1>Welcome to $station.location</h1>

<p>This weather station uses <a href="https://weewx.com">WeeWX</a> software and runs several skins:</p>
<p>
<a href="https://github.com/poblabs/weewx-belchertown">Belchertown</a>,
<a href="https://github.com/brewster76/fuzzy-archer">Bootstrap</a>
and
<a href="https://github.com/neoground/neowx-material">neowx-material</a>
all implement interactive charts</p>
<p>
Belchertown with <a href="https://www.highcharts.com/">HighCharts</a>
,
Bootstrap with <a href="https://v0.lvcharts.com/">Live Charts</a>
and
Neowx-Material with Google's <a href="https://m3.material.io/">Material Design</a>
.</p>

<h4><a href="belchertown">Belchertown</a></h4>
<h4><a href="Bootstrap">Bootstrap skin</a></h4>
<h4><a href="neowx-material">Neowx-Material</a></h4>
<h4><a href="Seasons">Seasons - the WeeWx standard</a></h4>
<h4><a href="dokuwiki/sguweewx.html">SGC Weather Station</a></h4>
</div>
</body>
</html>
