#errorCatcher Echo

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>$station.location</title>
    <link rel="stylesheet" type="text/css" href="./Bootstrap/css/bootstrap.min.css" />
  </head>
<body style="padding:10px">
<div>
<h1>Welcome to $station.location</h1>

<p>This weather station uses <a href="https://weewx.com">WeeWX</a> software and is currently running several skins</p>
<p>
<a href="https://github.com/poblabs/weewx-belchertown">Belchertown</a>
and
<a href="https://github.com/brewster76/fuzzy-archer">Bootstrap</a>
both implement interactive charts,
Belchertown with <a href="https://www.highcharts.com/">HighCharts</a>
and
Bootstrap with <a href="https://v0.lvcharts.com/">Live Charts</a>
.</p>

<h2><a href="belchertown">Belchertown skin</a></h2>
<h2><a href="Bootstrap">Bootstrap skin</a></h2>
<h2><a href="Seasons">Seasons - the WeeWx standard skin</a></h2>
<h2><a href="dokuwiki/sguweewx.html">SGC Weather Station skin</a></h2>
</div>
</body>
</html>
