#errorCatcher Echo

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$station.location</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          font-size: 14pt;
          background-color: #ffffff;
          padding: 10px;
        }
        h1 {
          font-size: 120%;
        }
        h2 {
          font-size: 110%;
        }
        alink {
          text-decoration: underline;
          color: #207070;
        }
        ahover {
          text-decoration: underline;
          color: #30a0a0;
        }
        avisited {
          text-decoration: underline;
          color: #207070;
        }
        table, td, th {
          border: 1px solid;
          border-collapse: collapse;
          padding: 5px;
        }
    </style>
  </head>
  <body>
<div>
<h1>Welcome to $station.location</h1>

$skin_list

<table>
  <tr>
    <td>Software</td>
    <td><a href="https//weewx.com">WeeWX v$station.version</a></td>
  </tr>
  <tr>
    <td>Weather Station</td>
    <td><a href="https//www.foshk.com/wifi_weather_station/wh2650.html">FineOffset $station.hardware Clone</a></td>
  </tr>
<!--
  <tr>
    <td>Station Type</td>
    <td>$station.station_type</td>
  </tr>
-->
  <tr>
    <td>Generated on</td>
    <td>$current.dateTime.format(format_string="%d-%b-%Y at %H%M%p")</td>
  </tr>
  <tr>
    <td>WeeWx uptime</td>
    <td>$station.uptime.long_form</td>
  </tr>
  <tr>
    <td>OS uptime</td>
    <td>$station.uptime.long_form</td>
  </tr>
</table>

</div>
</body>
</html>
